<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @special_price.room_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @special_price.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @special_price.end_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @special_price.price %>
</p>

<%= link_to 'Edit', edit_special_price_path(@special_price) %> |
<%= link_to 'Back', special_prices_path %>
