

<p>
    <%= form_for @booking do |f| %>
    <% if @booking.errors.any? %>
    	<% @booking.errors.full_messages.each do |msg|%>
    	<li><%= msg%></li>
    	<%end%>
    <%end%>
   <p>Check In :<%= f.date_select :start_date%></p>
    <p>Check Out: <%= f.date_select :end_date%></p>
    <%=  f.hidden_field :room_id, value: @booking.room_id%>
    
    <%= f.submit %>

    <%end%>

</p>
