
<p>
  <%= image_tag @room.image , size: "450x350" %>
</p>


<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>




<p>
    <%= form_for @booking do |f| %>
    <p>Check In :<%= f.date_select :start_date%></p>
    <p>Check Out: <%= f.date_select :end_date%></p>
    <%=  f.hidden_field :room_id, value: @room.id%>
    <%= f.submit "Request to Book"%>

    <%end%>

</p>

      <% if (user_signed_in?) && (current_user.id == @room.user.id) %>

<h3>Add Special Price</h3>

<p>
    <%= form_for SpecialPrice.new do |f| %>
    <p>Start date :<%= f.date_select :start_date%></p>
    <p> End date: <%= f.date_select :end_date%></p>
    <%=  f.hidden_field :room_id, value: @room.id%>
    <p>SpecialPrice:<%= f.text_field :price%></p>
    <%= f.submit "Add Price"%>

    <%end%>

</p>
<%end%>




<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>





<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>


<p>
  <strong>Amenities:</strong>
  <ul>
  <% @room.amenities.each do |amenity|  %>

  <li><%= amenity.name %></li>
  <%end%>
</ul>

</p>


<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>


<p>
  <strong>Latitude:</strong>
  <%= @room.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @room.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @room.city.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @room.user.username %>

</p>
<h2>Listing other rooms of (<%=@room.user.username%>) </h2>
  
<% @room.user.rooms.each do |room| %>
  <%unless @room.id == room.id %>
     <li><%= image_tag room.image , size: "50x50" %><%=link_to room.name, room_path(room) %></li>

    <%end%>
<%end%>

<h2> Reviews</h2>

<%if @room.reviews.empty?%>
<p>No reviews found ! </p>
<%else%>
<h3>Listing Reviews</h3>
<ol>
    <%@room.reviews.each do |review|%>
    <li>
        <%=link_to review.review, review_path(review) %> -  - <%=review.user.username%>
        <%if (user_signed_in?) && (can? :update, review)%>
        <%= link_to "destroy" , review_path(review.id), method: :delete, data: {confirm: "Are you sure you want to delete review "}%> | <%= link_to "Edit", edit_review_path(review.id)%> 
    </li>
        <%end%>
    <%end%>
</ol>
<%end%>



   




 <% if (user_signed_in?) && (current_user.id == @room.user.id) %>


<%= link_to 'Edit', edit_room_path(@room) %>
<%end%> |
<%= link_to 'Back', rooms_path %>


<p>
<iframe
  width="500"
  height="350"
  frameborder="10" style="border:20"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAX2sQ4tAAnRSwl5r25NyPSfdgUo5CSBPM
    &q= <%= @room.latitude%>,<%= @room.longitude %>" allowfullscreen>
</iframe>
</p>